@model IEnumerable<QueroJobsWEB.Models.VacancyModel>

@{
    ViewData["Title"] = "Vagas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar nova vaga</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacancyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <div class="block">
                   <img class="photo" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.webp">
                   <div class="row">
                        <div class="block sb">
                            <p>@item.VacancyName</p>
                            <p>PRESENCIAL</p>
                        </div>
                            <div class="block sb">
                            <p>@item.Description</p>
                            <p>@item.Salary</p>
                        </div>
                        <div class="block sb">
                        <p>@item.CloseDate</p>
                        </div>  
                            <div class="block sb">
                                @Html.ActionLink("Editar", "Edit", new {id=item.Id})
                                @Html.ActionLink("Detalhes", "Details", new {id=item.Id})
                                @Html.ActionLink("Deletar", "Delete", new {id=item.Id})
                            </div>
                   </div>
                </div>
               </td>
        </tr>
    }
    </tbody>
</table>