@model IEnumerable<QueroJobsWEB.Models.VacancyModel>

@{
    ViewData["Title"] = "Vagas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar nova vaga</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacancyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <section class ="card">
                <div class="row">
                    <div class="block">
                            <img src="https://m.media-amazon.com/images/I/6172VX9HZqS._AC_SX425_.jpg">
                            @Html.DisplayNameFor(model => model.VacancyName)
                            @Html.DisplayFor(modelItem => item.Description)
                    </div>
                        

                </div>
                @Html.DisplayFor(modelItem => item.VacancyName)
                @Html.DisplayFor(modelItem => item.Description)
                <button> Confirmar vaga </button>
                <button> Recusar vaga </button>
            </section>
            <section class="card">
                  
            </section>
            <td>
                @Html.DisplayFor(modelItem => item.VacancyName)
                <div>

                </div>
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new {id=item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>


